# Compiled class file / compiled package
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error.xml
hs_err_pid*

# Gradle files
.gradle
/build

# Ignore Gradle GUI config
gradle-app.setting

# Intellij project files
.idea/
*.iws
*.iml
*.ipr

#strange bin files
*.bin
/deposit-calculating-ui/build/
/deposit-calculating-core/build/

# add gradke-wrapper.jar for CI/CD
!gradle/wrapper/gradle-wrapper.jar
!temp-files/deposit-calculating-ui.jar